
		<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>
					<img src="assets/images/logo-hanzolo.png" class="logo-icon" alt="logo icon">
				</div>
				<!-- <div>
				<h1 class="logo-text"></h1>
				</div>
				<div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
				</div> -->
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
        <li class="menu-label">Gestão de manutenções</li>
        <!-- <li>
					<a href="widgets.html" [routerLink]="['/interacaoList']"  routerLinkActive="router-link-active">
						<div class="parent-icon"><i class='bx bx-home-circle'></i>
						</div>
						<div class="menu-title">Interações</div>
					</a>
				</li> -->
        <li>
					<a href="widgets.html" [routerLink]="['/manutencaoList']"  routerLinkActive="router-link-active">
						<div class="parent-icon"><i class='bx bx-home-circle'></i>
						</div>
						<div class="menu-title">Manutenções</div>
					</a>
				</li>
				<li class="menu-label">Gestão de utilizadores</li>
				<li>
					<a href="widgets.html" [routerLink]="['/utilizadorList']"  routerLinkActive="router-link-active">
						<div class="parent-icon"><i class='bx bx-user-circle'></i>
						</div>
						<div class="menu-title">Utilizadores</div>
					</a>
				</li>

        <!-- <li *ngIf="SeeConfigMenu">
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon"><i class="bx bx-category"></i>
						</div>
						<div class="menu-title">Configurações</div>
					</a>
					<ul>
            <li>
              <a href="widgets.html" [routerLink]="['/tarifarioList']"  routerLinkActive="router-link-active">
                <div class="parent-icon"><i class="bx bx-right-arrow-alt"></i>
                </div>
                <div class="menu-title">Tarifários</div>
              </a>
            </li>

            <li>
              <a href="widgets.html" [routerLink]="['/extensaoList']"  routerLinkActive="router-link-active">
                <div class="parent-icon"><i class="bx bx-right-arrow-alt"></i>
                </div>
                <div class="menu-title">Extensões</div>
              </a>
            </li>

            <li>
              <a [routerLink]="['/prefixoList']"  routerLinkActive="router-link-active">
                <div class="parent-icon"><i class="bx bx-right-arrow-alt"></i>
                </div>
                <div class="menu-title">Prefixos</div>
              </a>
            </li>

            <li>
              <a  [routerLink]="['/operadoraList']"  routerLinkActive="router-link-active">
                <div class="parent-icon"><i class="bx bx-right-arrow-alt"></i>
                </div>
                <div class="menu-title">Operadora</div>
              </a>
            </li>

            <li>
              <a [routerLink]="['/numeroIsentoList']"  routerLinkActive="router-link-active">
                <div class="parent-icon"><i class="bx bx-right-arrow-alt"></i>
                </div>
                <div class="menu-title">Números Isento</div>
              </a>
            </li>

            <li>
              <a [routerLink]="['/horarioChamadaList']"  routerLinkActive="router-link-active">
                <div class="parent-icon"><i class="bx bx-right-arrow-alt"></i>
                </div>
                <div class="menu-title">Horário chamada internacional</div>
              </a>
            </li>


            <li>
              <a [routerLink]="['/tempoMensagemList']"  routerLinkActive="router-link-active">
                <div class="parent-icon"><i class="bx bx-right-arrow-alt"></i>
                </div>
                <div class="menu-title">Mensagem</div>
              </a>
            </li>

					</ul>
				</li> -->
			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->
